@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
body {
  /* color: red; */
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.hero-content {
  background-repeat: no-repeat;
  background-size: cover;
}

nav button {
  /* color: red !important; */
}

nav button:hover .circle {
  width: 100%;
}

nav button:hover .button-text {
  color: #fff;
}

nav button {
  position: relative;
  border: 0;
  width: 12.9rem;
  height: auto;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
}

nav button:hover .arrow {
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
  background: #fff;
}

.button-text {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0.35rem 0;
  margin: 0 0 0 2.85rem;
  color: #282936;
  left: 0;
  text-align: center;
  text-transform: capitalize;
}

.circle {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #10B981;
  border-radius: 1.625rem;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.arrow {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.2rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.intro-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* position: sticky; */
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(16px, 5vw, 24px);
  white-space: nowrap;
}

.intro-info::before {
  content: "";
  display: block;
  position: relative;
  width: 110px;
  height: 3px;
  margin-right: 20px;
  background-color: rgba(59, 130, 246, 0.5);
}

.section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  font-size: clamp(16px, 5vw, 24px);
}

.section-intro::after {
  content: "";
  display: block;
  position: relative;
  width: 110px;
  height: 3px;
  margin-left: 20px;
  background-color: rgba(59, 130, 246, 0.5);
}

.project-list li::nth-of-type(2n+1) {
  margin: 0px 0px 5px 20px;
}

.contact-section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.contact-section ul li p {
  width: 4rem;
}

.contact-section ul li a {
  margin-left: 1rem;
  color: #4a4a4a;
  font-weight: 600;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .medium:hover,
.wrapper .medium:hover .tooltip,
.wrapper .medium:hover .tooltip::before {
  background-color: #000000;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .kaggle:hover,
.wrapper .kaggle:hover .tooltip,
.wrapper .kaggle:hover .tooltip::before {
  background-color: #20beff;
  color: #ffffff;
}

.wrapper .upwork:hover,
.wrapper .upwork:hover .tooltip,
.wrapper .upwork:hover .tooltip::before {
  background-color: #6fda44;;
  color: #ffffff;
}

@media screen and (max-width: 39.9375em) {
  body {
    padding-bottom: 20px;
  }
  body .max-w-7xl {
    padding: 0 20px;
  }
  body .max-w-5xl {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=styles.css.map */